* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: yellow;
    display: flex;
    justify-content: center;
}

.all{
    background: white;
    border-radius: 23px;
    padding: 29px;
    width: 50%;
}

.div-1{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
}
.div-1i{
    align-items: center;
    display: flex;
    gap: 10px;
}

.div-1 p{
    color: hsl(219, 12%, 42%);
    display: flex;
}

.div-1i div{
    background: hsl(219, 85%, 26%);
    border-radius: 5px;
    color: white;
    padding: 1px 11px;
}

.unread{
    background: hsl(1, 90%, 64%);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.div-2{
    background: hsl(211, 68%, 94%);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.div-2i{
    display: flex;
    flex-direction: column;
}

.div-2ii{
    align-items: center;
    display: flex;
    gap: 7px;
}

.when{
    color: hsl(219, 14%, 63%);
}
.div-3{
    background: hsl(211, 68%, 94%);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.div-3i{
    display: flex;
    flex-direction: column;
}

.div-3ii{
    align-items: center;
    display: flex;
    gap: 7px;
}

.div-4{
    background: hsl(211, 68%, 94%);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.div-4i{
    display: flex;
    flex-direction: column;
}

.div-4ii{
    align-items: center;
    display: flex;
    gap: 7px;
}

.div-5{
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.div-5i{
    display: flex;
    flex-direction: column;
}

.div-5ii{
    align-items: center;
    display: flex;
    gap: 7px;
}



.div-6{
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.div-6i{
    display: flex;
    flex-direction: column;
}

.div-6ii{
    align-items: center;
    display: flex;
    gap: 7px;
}

.div-7{
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.div-7i{
    display: flex;
    flex-direction: column;
}

.div-7ii{
    font-size: 16px;
}

.div-8{
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.div-8i{
    display: flex;
    flex-direction: column;
}

.div-8ii{
    align-items: center;
    display: flex;
    gap: 7px;
}
.p-image{
    width: 40px;
}

.p-image-ii{
    height: 42px;
    width: 40px;
}

.name{
    font-weight: 700;
}

.activity{
    color: hsl(219, 12%, 42%);
    font-weight: 500;
}

.post{
    color: hsl(219, 12%, 42%);
    font-weight: 700;
}

.group{
    color: hsl(219, 85%, 26%);
    font-weight: 700;
}

.message{
    border: 1px solid hsl(219, 12%, 42%);
    color: hsl(219, 12%, 42%);
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;
    padding: 10px;
    width: 87%;
}

.three-unread{
    display: flex;
    flex-direction: column;
    gap: 7px;
}