* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: yellow;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.all{
    background: white;
    /* border: 1px solid black; */
    border-radius: 23px;
    padding: 40px;
}

.div-1{
    align-items: center;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: row; */
    gap: 400px;
    /* justify-content: space-between; */
    padding: 23px 0;
    /* width: 100%; */
}
.div-1i{
    align-items: center;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
}

.div-1 p{
    /* border: 1px solid black; */
    color: hsl(219, 12%, 42%);
    display: flex;
    /* justify-content: end; */
}

.div-1i div{
    background: hsl(219, 85%, 26%);
    border-radius: 5px;
    color: white;
    padding: 1px 11px;
}

.unread{
    background: hsl(1, 90%, 64%);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.div-2{
    background: hsl(211, 68%, 94%);
    /* border: 1px solid turquoise; */
    border-radius: 10px;
    display: flex;
    /* flex-direction: row; */
    /* gap: 10px; */
    padding: 10px;
    /* width: 50%; */
}

.div-2i{
    display: flex;
    flex-direction: column;
}

.div-2ii{
    align-items: center;
    /* border: 1px solid burlywood; */
    display: flex;
    /* flex-direction: row; */
    gap: 7px;
    /* justify-content: space-between; */
    /* width: 100%; */
}

.when{
    color: hsl(219, 14%, 63%);
}
.div-3{
    background: hsl(211, 68%, 94%);
    /* border: 1px solid turquoise; */
    border-radius: 10px;
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    padding: 10px;
}

.div-3i{
    display: flex;
    flex-direction: column;
}

.div-3ii{
    align-items: center;
    /* border: 1px solid burlywood; */
    display: flex;
    /* flex-direction: row; */
    gap: 7px;
    /* justify-content: space-between; */
    /* width: 100%; */
}

.p-image{
    width: 40px;
}

.name{
    font-weight: 700;
}

.activity{
    color: hsl(219, 12%, 42%);
    font-weight: 500;
}

.post{
    color: hsl(219, 12%, 42%);
    font-weight: 700;
}

.three-unread{
    border: 1px solid burlywood;
    display: flex;
    flex-direction: column;
    gap: 7px;
}